body{
    background-color: #2E4F4F ;
}
.buttonContainer{
    display: flex;
    justify-content: right;
}
.button{
    border-radius: 20px;
    margin: 20px;
    
}
.title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: aliceblue;
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1.5cm;
    }
}
.tabella{
    margin-bottom: 50px;
}
.content{
    margin: auto;
}

 
::ng-deep  .mat-mdc-snack-bar-container.sucesfull{
    --mdc-snackbar-container-color:  #2C3333;
    --mdc-snackbar-supporting-text-color:aliceblue;
}

::ng-deep  .mat-mdc-snack-bar-container.error{
    --mdc-snackbar-container-color: #E99287;
    --mdc-snackbar-supporting-text-color:black
}