.toolbar{
    background-color:#2E4F4F ;
}
.sidenavContainer{
    height: calc(207vh - 115vh);
    position: fixed;
    margin-right: 20px;
}
.sidenav{
    width: 200px;
    background-color:#253f3f;
    margin-right: 20px;

}
.sidenavContet{
    background-color:#2C3333;
    margin: 0;
    
}
.sidenavElement{
    margin: 20px;
   // width: 100%;
}