.buttonContainer{
    display: flex;
    justify-content: right;
    margin-left: 10%;
}
.button{
    display: flex;
    border-radius: 20px;
    margin: 20px;
    background-color: #b0bec5;
    color: black;
}
.button:hover{
    background-color:#919ca1 ;
}
.filter{
    flex: 1;
}