<h1>Progetto TPS</h1>
<div class="pagina">
    <div class="conenuto">
    <h2>Obiettivo</h2>
    <p>Utilizzare un'architettura basata su MVC per implementare la gestione di una scuola.</p>
    <div></div>
    <h2>Entità</h2>
    <p>Nel progetto sono state definite 4 entita principali</p>
    <mat-list>
        <mat-list-item>Studenti: rappresenta gli studenti di una classe</mat-list-item>
        <mat-list-item>Classi: rappresenta le classi</mat-list-item>
        <mat-list-item>Professori: rappresenta i professori della scuola</mat-list-item>
        <mat-list-item>Materia: rappresenta quali professori insegnano in quale qualle e quale materia insegnano</mat-list-item>
    </mat-list>

     <h2>Interfaccia</h2>
    <div></div>
    <p>Questa è un interacci frontend sviluppata in angular15 impiegata per facilitare le interazioni col backend</p>
    <p>Per cominciare ad usare il software utilizzare il menu laterale</p>
    </div>

    <div class="foto">
        <h2>Schema logico DB</h2>

        <img cImg fluid src="../../schemaLogico.png" alt="Schema logico"width="500" height="600">
    </div>
