<ng-container>
<div mat-dialog-title>
    <div *ngIf="data!=undefined; else elseBlock" class="title"><h1>Modifica Studente</h1></div>
    <ng-template #elseBlock><h1>Inserisci Studente</h1></ng-template>
</div>
    <form [formGroup]="formDati" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="riga">
                <mat-form-field appearance="outline">
                    <mat-label>Cognome</mat-label>
                    <input matInput type="text" formControlName="cognome">
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Codice Fiscale</mat-label>
                    <input matInput type="text" formControlName="codiceFiscale" >
                </mat-form-field>
        </div>
        <div class="riga">
            <mat-form-field appearance="outline" >
                <mat-label>Luogo nascita</mat-label>
                <input matInput type="text" formControlName="luogoNascita">
            </mat-form-field>
            <mat-form-field appearance="outline">

                <mat-label>Data di nascita</mat-label>
                <input matInput [matDatepicker]="picker"  formControlName="dataNascita">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="riga">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address</mat-error>
      <mat-error *ngIf="(emailFormControl.hasError('required'))">
        Email is <strong>required</strong></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Telefono</mat-label>
                <input matInput type="text" formControlName="telefono">
            </mat-form-field>
        </div>
        <div class="riga">
            <mat-form-field appearance="outline">
                <mat-label>Indirizzo</mat-label>
                <input matInput type="text" formControlName="indirizzo">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>CAP</mat-label>
                <input matInput type="number" formControlName="CAP">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Cittadinanza</mat-label>
                <input matInput type="text" formControlName="cittadinanza">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="buttons">
        <button mat-raised-button type="reset">Reset</button>
        <button mat-raised-button color="accent" type="submit">Salva</button>
    </div>
    </form>
</ng-container>
